/node_modules
/public/hot
/public/storage
/public/images
/public/licenses
/storage/*.key
/storage/framework/cache
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
